@model IEnumerable<SED.Models.Docente_Evaluacion>

@{
    ViewBag.Title = "Docente Evaluacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Docente Evaluacion</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Docentes.codigo_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluacion.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Docentes.codigo_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluacion.estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_docente_evaluacion }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_docente_evaluacion }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id_docente_evaluacion })
        </td>
    </tr>
}

</table>
