@model SED.Models.Asignatura_Alumno

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Asignatura_Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alumnos.matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumnos.matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asignatura.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignatura.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_asignaturo_alumno }) |
    @Html.ActionLink("Volver al Listado", "Index")
</p>
