@model IEnumerable<SED.Models.Tipo_Pregunta>

@{
    ViewBag.Title = "Tipo de Pregunta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tipo de Pregunta</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_tipo_pregunta }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.id_tipo_pregunta }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id_tipo_pregunta })
        </td>
    </tr>
}

</table>
