@model IEnumerable<SED.Models.Detalle_Evaluacion>

@{
    ViewBag.Title = "Detalle Evaluacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle Evaluacion</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fk_id_respuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluacion.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pregunta.nombre_pregunta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fk_id_respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluacion.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pregunta.nombre_pregunta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_detalle_evaluacion }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_detalle_evaluacion }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id_detalle_evaluacion })
        </td>
    </tr>
}

</table>
