@model IEnumerable<SED.Models.Tipo_Cuestionario>

@{
    ViewBag.Title = "Tipo de Cuestionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tipo de Cuestionario</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_registro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_registro)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_tipo_cuestionario }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_tipo_cuestionario }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id_tipo_cuestionario })
        </td>
    </tr>
}

</table>
